@media (max-width:1024px) {
    .contianer {
        header {
            .header-sign {
                a {
                    display: none;
                }
            }
        }
    }
}

@media (max-width:900px) {
    .contianer {
        main {
            .section-1 {
                flex-direction: column;

                .first-text {
                    width: 100%;
                    margin-top: 50px;

                    h1 {
                        font-size: 26px;
                        font-weight: 500;
                        max-width: 300px;
                    }
                    p{
                        max-width: 100%;
                    }

                    button {
                        width: 100%;
                    }
                }

                .first-img2 {
                    display: block;
                    width: 100%;

                }

                .first-img1 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width:800px) {
    .contianer {
        header {

            .header-links,
            .header-sign {
                display: none;
            }

            .header-menu {
                display: block;
            }
        }
        main{
            .section-2{
                height: auto;
                flex-direction:column ;
                gap: 30px;
            div{
                width: 100%;
                justify-content: space-between;
                border: none;
            }
            }
            .section-3{
                flex-direction: column;
                gap: 40px;
                img{
                    width: 100%;
                }
                div{
                    h1{
                        font-size: 26px;
                        max-width: 300px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }

    }
}