@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
  text-decoration: none;
}

:root {
  --text-color: #4F5665;
  --text-color2: #0B132A;
  --text-color3: #F53855;
}

.contianer {
  max-width: 1440px;
  margin: auto;
  height: 300px;
}
.contianer header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 20px;
}
.contianer header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contianer header .logo h2 {
  font-size: 20px;
  font-weight: 500;
}
.contianer header .logo h2 b {
  font-weight: 700;
}
.contianer header .header-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.contianer header .header-links li a {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}
.contianer header .header-sign {
  display: flex;
  align-items: center;
  gap: 30px;
}
.contianer header .header-sign a {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color2);
}
.contianer header .header-sign button {
  width: 150px;
  height: 45px;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid var(--text-color3);
  color: var(--text-color3);
  font-size: 16px;
  font-weight: 500;
}
.contianer header .header-menu {
  font-size: 35px;
  display: none;
}
.contianer main {
  padding: 20px;
}
.contianer main .section-1 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.contianer main .section-1 .first-img2 {
  display: none;
}
.contianer main .section-1 .first-text {
  width: 50%;
}
.contianer main .section-1 .first-text h1 {
  font-size: 50px;
  font-weight: 500;
  max-width: 555px;
  color: var(--text-color2);
}
.contianer main .section-1 .first-text p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  max-width: 555px;
  margin: 20px 0 50px;
}
.contianer main .section-1 .first-text button {
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #F53838;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 26px 20px 0px rgba(245, 56, 56, 0.3490196078);
}
.contianer main .section-1 img {
  width: 45%;
}

@media (max-width: 1024px) {
  .contianer header .header-sign a {
    display: none;
  }
}
@media (max-width: 900px) {
  .contianer main .section-1 {
    flex-direction: column;
  }
  .contianer main .section-1 .first-text {
    width: 100%;
    margin-top: 50px;
  }
  .contianer main .section-1 .first-text h1 {
    font-size: 26px;
    font-weight: 500;
    max-width: 300px;
  }
  .contianer main .section-1 .first-text p {
    max-width: 100%;
  }
  .contianer main .section-1 .first-text button {
    width: 100%;
  }
  .contianer main .section-1 .first-img2 {
    display: block;
    width: 100%;
  }
  .contianer main .section-1 .first-img1 {
    display: none;
  }
}
@media (max-width: 800px) {
  .contianer header .header-links,
  .contianer header .header-sign {
    display: none;
  }
  .contianer header .header-menu {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */