@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
    text-decoration: none;
}

:root {
    --text-color: #4F5665;
    --text-color2: #0B132A;
    --text-color3: #F53855;
}

.contianer {
    max-width: 1440px;
    margin: auto;
    height: 300px;

    header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        position: sticky;
        top: 0;
        padding: 20px;

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;

            h2 {
                font-size: 20px;
                font-weight: 500;

                b {
                    font-weight: 700;
                }
            }
        }

        .header-links {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 40px;

            li {
                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--text-color);


                }
            }
        }

        .header-sign {
            display: flex;
            align-items: center;
            gap: 30px;

            a {
                font-size: 16px;
                font-weight: 600;
                color: var(--text-color2);
            }

            button {
                width: 150px;
                height: 45px;
                border: none;
                background-color: #fff;
                border-radius: 20px;
                cursor: pointer;
                border: 2px solid var(--text-color3);
                color: var(--text-color3);
                font-size: 16px;
                font-weight: 500;

            }
        }

        .header-menu {
            font-size: 35px;
            display: none;
        }

    }

    main {
        padding: 20px;

        .section-1 {
            display: flex;
            align-items: center;
            margin-top: 50px;

            .first-img2 {
                display: none;
            }

            .first-text {
                width: 50%;

                h1 {
                    font-size: 50px;
                    font-weight: 500;
                    max-width: 555px;
                    color: var(--text-color2);
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--text-color);
                    max-width: 555px;
                    margin: 20px 0 50px;
                }

                button {
                    width: 250px;
                    height: 60px;
                    border: none;
                    border-radius: 10px;
                    background: #F53838;
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                    cursor: pointer;
                    box-shadow: 0px 26px 20px 0px #F5383859;
                }
            }

            img {
                width: 45%;
            }
        }

        .section-2 {
            width: 100%;
            height: 95px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 10px;
            margin: 100px 0;
            padding: 20px;
            display: flex;
            justify-content: space-around;

            div {
                width: 369px;
                height: 100%;
                // background-color: aqua;  
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid rgb(163, 163, 163);
                gap: 30px;

                span {
                    h2 {
                        font-weight: 700;
                    }

                    p {
                        font-size: 20px;
                        color: var(--text-color);
                    }
                }
            }
            .border-none{
                border: none;
            }
        }
    }
}

@import './responsive'